/* Custom CSS for the home page */
.carousel-item img {
    height: 400px;
    object-fit: cover;
  }
  
  .img-fluid {
    transition: transform 0.3s ease-in-out;
  }
  
  .img-fluid:hover {
    transform: scale(1.05);
  }
  .slide-design {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    color: white;
  }
  
  .carousel-inner {
    height: 500px;
  }
  